/* CUSTOM CSS */
.fullHeight	{
  height: 100%;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

ul.experience  {
  padding: 2px;
  list-style-type:none;
}


